@charset "utf-8";
/* CSS Document */

/* Makeshift CSS reset */
*{
	margin: 0;
	padding: 0;
}

header, article, aside, nav, block{
	display:block;
}

body{
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-color: #f0f0f0;
}

header#cabecalho{
	padding-top: 55px;
	padding-left: 0px;
	padding-bottom: 35px;	
}

h1{
	font-size: 28px;
}

h2{
	font-size: 28px;
	line-height: 44px;
	padding: 22px;
}

h3{
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0; 
}

p{
	padding-bottom: 22px;
}
	
nav#menu{
	position: absolute;
	left: 0;
	width: 100%;
	background: #303030 /*url(../_images/navigation_background.png) center*/;
}

nav#menu ul{
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav#menu ul li{
	float: left;
}

nav#menu ul li a{
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #999;
}

nav#menu ul li a:hover{
	color: #ffffff;
}

nav#menu ul li.selected a{
	color: #ffffff;
}

nav#menu ul li.subscribe a{
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	background: url(../_images/rss1.jpg) left center no-repeat;
}


/* INTRO */

section#intro{
	margin-top: 66px;
	padding: 44px;
	background: #467612 url(../_images/top.jpg) top right no-repeat;
	background-size: 100%;
	border-radius: 22px;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;
	
	/* Border-radius not implemented yet */
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
}

section#intro h2, #intro p{
	width: 336px;
}

section#intro h2{
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #ffffff;
}

section#intro p{
	padding: 0;
	color: #000;
}

div#content{
	display: table;
}


/* MAIN */

div#mainContent{
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}

p.sig{
	font-style:italic;	
	color: #666;
}

article.blogpost a{
	font-style:italic;	
	color: #666;
}

article.blogpost a:hover{
	text-decoration: none;
	color: #000000;
}

article.blogpost.selected a{
	color: #ffffff;
}

article.blogpost div{
	column-count: 2;
	column-gap: 22px;
}

article.blogpost div{
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
 
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}

article.blogpost img{
	margin: 22px 0;
	box-shadow: 3px 3px 7px #777777;
	-webkit-box-shadow: 3px 3px 7px #777;
}
	
section#comments article:nth-child(2n+1){
	background: #E3E3E3;
	border: 1px solid #d7d7d7;
	border-radius: 11px;
}

section#comments article{
	padding: 21px;
}
	
section#comments{
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	
}

form{
	padding-bottom:10px;
}

form input, texarea{
	padding-right: 0px;
}

table#tabelaspec{

	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;	
}

table#tabelaspec td{
	padding: 10px;
	text-align: right;
	vertical-align: top;
}

table#tabelaspec td.ce{
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	text-align: left;
}

/* ASIDE */

aside{
	display: table-cell;
	width: 300px;
	border-left: 1px solid #d7d7d7;
	background: linear-gradient(left, #E3E3E3, #F0F0F0);
	background: -webkit-linear-gradient(left, #E3E3E3, #F0F0F0);
	background: -o-linear-gradient(left, #E3E3E3, #F0F0F0);
	background: -moz-linear-gradient(left, #E3E3E3, #f0f0f0);
}

div#cat{
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 11px;
	padding: 20px;
	background: linear-gradient(left top , #D0D0D0, #E3E3E3);
	background: -webkit-linear-gradient(left top, #D0D0D0, #F0F0F0);
	background: -o-linear-gradient(top left, #D0D0D0, #F0F0F0);
	background: -moz-linear-gradient(top left, #D0D0D0, #f0f0f0);
}

div#cat ul{
	padding-left: 20px;
	list-style-type: none;
}

div#cat a{
	color: #000;
	text-decoration: none;	
}

div#cat a:hover{
	color: #000;
	text-decoration: underline;
}

div#arch{
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 11px;
	padding: 20px;
	background: linear-gradient(left top , #D0D0D0, #E3E3E3);
	background: -webkit-linear-gradient(left top, #D0D0D0, #F0F0F0);
	background: -o-linear-gradient(top left, #D0D0D0, #F0F0F0);
	background: -moz-linear-gradient(top left, #D0D0D0, #f0f0f0);
}

div#arch ul{
	padding-left: 20px;
	list-style-type: none;	
}

div#arch a{
	color: #000;
	text-decoration: none;	
}

div#arch a:hover{
	color: #000;
	text-decoration: underline;
}

/* FOOTER*/

footer{
	background-color: #111;
	position: absolute;
	left: 0;
	width: 100%;
	
}

footer h3{
	color: #fff;
}

footer p, ul{
	color: #555;
}


footer a{
	font-style:italic;	
	color: #777;
}

footer a:hover{
	text-decoration: none;
	color: #fff;
}

div#upfoot{
	margin-left: 40px;
	display: table;
	width: 940px;
	padding-top: 40px;
	
}

article#about{
	display: table-cell;
	width:300px;
	padding: 10px;
}

article#arch{
	display: table-cell;
	width: 300px;
	padding: 10px;
}

article#arch nav{
	padding-left: 40px;
	
}

article#pop{
	display: table-cell;
	width: 300px;
	padding: 10px
}

article#pop nav{
	padding-left: 40px;
	
}

div#lowfoot p{
	text-align: center;
	padding-bottom: 30px;
}







	



